<template>
  <div :class="$attrs.class">
    <q-input
      :outlined="props.outlined"
      v-model="searchQuery"
      :label="props.label"
      debounce="100"
      @update:model-value="performSearch"
    >
      <template v-slot:prepend>
        <q-icon :name="props.iconName"/>
      </template>
    </q-input>
  </div>
  <slot name="results" :results="displayData">
    <p>No search results display implemented.</p>
  </slot>
</template>

<script setup>
import {ref, onUnmounted, computed} from 'vue'
import similarity from 'similarity'

/**
 * @typedef Props
 * @property {string} [iconName]
 * @property {string} [label]
 * @property {boolean} [outlined]
 * @property {any[]} rows
 * @property {string[]} [searchKeys]
 */

/**
 * Define props and emits
 */
const props = defineProps({
  iconName: {
    type: String,
    default: 'search'
  },
  label: {
    type: String,
    default: 'Search'
  },
  outlined: {
    type: Boolean,
    default: true
  },
  rows: {
    type: Array,
    required: true
  },
  searchKeys: {
    type: Array,
    default: () => []
  },
  minScore: {
    type: Number,
    default: () => 10.0
  }
})
const emit = defineEmits(['update:searchResults'])

const searchQuery = ref('')
const searchResults = ref([])

/**
 * Cache for search results
 * @type {Map<string, {match: boolean, score: number}>}
 */
const cache = new Map()

/**
 * Determines similarity between query and text
 * Priority is given in this order:
 *   - exact matches with regard to position,
 *   - exact matches
 *   - similarity
 * @param {string} query
 * @param {string} text
 * @returns {{score: number, match: boolean}}
 */
const isSimilar = (query, text) => {
  let score = 0.0
  let match = false
  const queryLower = query.toLowerCase()
  const textLower = text.toLowerCase()

  if (query.length > 0) {
    if (textLower === queryLower) {
      score = 100
    }
    else if (textLower.startsWith(queryLower)) {
      score = 90
    }
    else {
      score = similarity(queryLower, textLower) * 50
      if (textLower.includes(queryLower)) {
        score += 10
      }
    }
    match = score > 0
  }
  return { score, match }
}

/**
 * Recursively performs search on an object
 * Caches results to improve performance
 * @param {any} obj - object to search in
 * @param {string} query - query string
 * @returns {{match: boolean, score: number}}
 */
const deepSearch = (obj, query) => {
  if (obj === null || obj === undefined) return { match: false, score: 0 }

  const cacheKey = JSON.stringify({ obj, query })
  if (cache.has(cacheKey)) {
    return cache.get(cacheKey)
  }

  let result = { match: false, score: 0 }

  if (typeof obj === 'string') {
    result = isSimilar(query, obj)
  }
  else if (Array.isArray(obj)) {
    for (const item of obj) {
      const itemResult = deepSearch(item, query)
      if (itemResult.match) {
        result = itemResult
        break
      }
    }
  }
  else if (typeof obj === 'object') {
    if (props.searchKeys.length > 0) {
      for (const key of props.searchKeys) {
        if (key in obj) {
          const keyResult = deepSearch(obj[key], query)
          if (keyResult.match) {
            result = keyResult
            break
          }
        }
      }
    }
    else {
      for (const value of Object.values(obj)) {
        const valueResult = deepSearch(value, query)
        if (valueResult.match) {
          result = valueResult
          break
        }
      }
    }
  }

  cache.set(cacheKey, result)
  return result
}

/**
 * Performs a search on the JSON data and emits the results
 * Sorts the results by score in descending order
 */
const performSearch = () => {
  cache.clear()

  if (!searchQuery.value) {
    searchResults.value = []
  } else {
    searchResults.value = props.rows
      .map(item => {
        const result = deepSearch(item, searchQuery.value)
        return { ...item, score: result.score}
      })
      .filter(item => item.score > props.minScore)
      .sort((a, b) => b.score - a.score)
  }

  emit('update:searchResults', searchResults.value)
}

const displayData = computed(() => {
  return searchResults.value.length > 0 ? searchResults.value : props.rows;
});


</script>
