<script setup>

import SearchRows from "components/global/SearchRows.vue";
import {computed} from "vue";


const props = defineProps({
  rows: Array
})
const filteredItems = computed(() => {
  if (!props.rows) return [];
  return props.rows.filter((r) => (!r.limitTo) || r.limitTo())
})
</script>

<template>
  <search-rows :rows="filteredItems" :search-keys="['name', 'abstract']">
    <template v-slot:results="{results}">
      <q-list bordered padding>
        <q-item v-for="(link,index) in results" :key="`link-${index}`" :href="link.url">
          <q-item-section>
            <q-item-label>
                {{link.title}}
            </q-item-label>
            <q-item-label caption lines="2"><span v-html="link.abstract"/>
            </q-item-label>
          </q-item-section>
          <q-item-section top side>
            <q-icon v-if="link.icon" :name="link.icon"/>
          </q-item-section>

        </q-item>
      </q-list>
    </template>
  </search-rows>
</template>

<style scoped>

</style>