<template>
  <router-view v-slot="{ Component }">
    <suspense timeout="0">
      <template #default>
        <component :is="Component" :key="$route.path"></component>
      </template>
      <template #fallback>
        <div class="window-height window-width row justify-center items-center">
          <green-p-d-c-logo/>
          <q-linear-progress indeterminate color="primary" />
        </div>
      </template>
    </suspense>
  </router-view>
</template>
<script setup>
import GreenPDCLogo from "assets/GreenPDCLogo.vue";
</script>