<template>
  <div class="text-center flex flex-center">
    <div>
      <div style="font-size: 30vh">
        404
      </div>

      <h2 style="opacity:.4">
        Oops. Nothing here...
      </h2>

      <q-btn
        color="white"
        text-color="blue"
        unelevated
        to="/"
        label="Go Home"
        no-caps
      />
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'ErrorNotFound'
})
</script>
