<script setup>

import { ref, computed } from 'vue';
import { useApplication } from 'src/Application';

const navigationLinks = ref([]);
const { loadNavigation, user, hasAccessToContent } = await useApplication();
navigationLinks.value = await loadNavigation('filer');

const filteredNavigation = computed(() => {
  return navigationLinks.value.filter((n) => {
    return hasAccessToContent(n);
  });
});

</script>

<template>
  <q-page class="q-pa-md" >
    <div class="row q-col-gutter-md items-stretch">
      <div class="col-12 col-md-6 col-lg-4" v-for="link in filteredNavigation" :key="link.title" >
        <q-card class="full-height" style="position: relative;">
          <q-card-section class="row items-center q-pb-none">
            <div class="col">
              <div class="text-h4">{{ link.title }}</div>
            </div>
            <q-space></q-space>
            <q-icon :name="link.icon" size="2em" color="grey-7"></q-icon>
          </q-card-section>

          <q-card-section class="col-grow scroll q-mb-xl">
            <div v-html="link.abstract"></div>
          </q-card-section>

          <q-card-actions class="absolute-bottom">
            <q-btn :href="link.url" color="primary" rounded><span class="q-px-sm">{{ link.action }}</span></q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<style scoped>
</style>