<script setup>
import {ref,reactive,watch} from 'vue';
import {useApplication, useGateway} from 'src/Application'
import {useRouter} from 'vue-router';
import rules from "@wapdc/pdc-ui/rules";
import PAccessibleButton from '@wapdc/quasar-app-extension-pdc-ui/src/components/PAccessibleButton.vue';
const router = useRouter();
const { user } = await useApplication()
const awsGateway = await useGateway('my-pdc_aws_gateway', 3050)
const termsAccepted = ref(false);
const nameInfoDialog = ref(false);
const isNameEditable = ref(!!user.user.name);
const termsAcceptedErrorMessage = ref('');
const certificationStatement = ref('');
const userInfo = reactive({
  uid: user.user.uid,
  realm: user.user.realm,
  name: ref(user.user.name),
  email: ref(user.user.email),
  phone: ref(user.user.phone),
});
const tempName = ref(userInfo.name);
async function updateProfileInfo() {
  const payload = {
    uid: userInfo.uid,
    name: userInfo.name,
    email: userInfo.email,
    phone: userInfo.phone,
    realm: userInfo.realm
  }
  const response = await awsGateway.post(`/update-user-info`,payload);
  if(response) {
    router.back()
  }
}
watch(termsAccepted, (newValue) => {
  if (!newValue) {
    termsAcceptedErrorMessage.value = 'You must check the box to proceed.';
  } else {
    termsAcceptedErrorMessage.value = '';
  }
});
function confirmNameChange() {
  if(termsAccepted.value) {
    userInfo.name = tempName.value;
    nameInfoDialog.value = false;
    termsAcceptedErrorMessage.value = '';
  }
  else
    termsAcceptedErrorMessage.value = 'You must check the box to proceed.';
}
</script>

<template>
  <q-page class="q-pa-md">
    <div class="text-h3 q-mb-xl">Edit Profile</div>
    <q-form class="q-gutter-md" @submit="updateProfileInfo">
      <div>
        <div class="flex items-center">
          <div class="text-subtitle1">Full legal name</div>
          <p-accessible-button
              outline
              round
              icon="edit"
              size="sm"
              color="primary"
              class="q-ml-sm"
              v-if="isNameEditable"
              button-tooltip="Edit Name"
              @click="nameInfoDialog = true">
          </p-accessible-button>
        </div>
        <q-input :rules="[rules.requireString]" v-model="userInfo.name" :readonly="isNameEditable" hide-bottom-space dense></q-input>
      </div>
      <div>
        <div class="flex items-center">
          <div class="text-subtitle1">Email (for Notifications & Reminders)</div>
        </div>
        <q-input :rules="[rules.validEmail,rules.requireString]" v-model="userInfo.email" hide-bottom-space dense/>
      </div>
      <div>
        <div class="flex items-center">
          <div class="text-subtitle1">Phone</div>
        </div>
        <q-input  :rules="[rules.requireString]" v-model="userInfo.phone" hide-bottom-space dense type="tel"/>
      </div>
      <div>
        By typing <strong>I certify</strong> on the line below, I certify under penalty of perjury under the laws of
        the State of Washington that the information provided on this form is true, complete and correct to the best of my knowledge.
      <q-input
          lazy-rules
          label="Type here"
          v-model="certificationStatement"
          :rules="[rules.required, rules.validCertificationStatement]"
      />
      </div>
      <q-card-section class="q-pa-none">
        <q-btn label="Save" type="submit" color="primary"/>
        <q-btn label="Cancel" type="reset"  @click="router.back()" class="q-ml-md"/>
      </q-card-section>
    </q-form>
  </q-page>
  <q-dialog v-model="nameInfoDialog" persistent>
    <q-card>
      <q-card-section>
        <h3>Edit Name</h3>
        <div>
          <strong>Note:</strong> Please use this option if the person associated with this login has changed their legal name.
          If you are not {{userInfo.name}}, please request a new SAW account.
        </div>
         <q-input label="Name"  :rules="[rules.requireString]" v-model="tempName" />
        <q-checkbox v-model="termsAccepted" size="sm">
          I agree to the above terms and acknowledge sharing passwords can lead to unauthorized access and also compromise the
          security of online accounts
        </q-checkbox>
        <div v-if="termsAcceptedErrorMessage" class="text-negative">{{ termsAcceptedErrorMessage }}</div>
      </q-card-section>
      <q-card-actions align="right">
        <q-btn label="Ok"  color="primary" @click="confirmNameChange"/>
        <q-btn flat label="Cancel" color="primary" @click="nameInfoDialog = false"></q-btn>
      </q-card-actions>
    </q-card>
  </q-dialog>

</template>

<style scoped>

</style>
