<script setup>
import {computed, ref} from 'vue';
import {useApplication} from '../Application'
import similarity from "similarity";

const tab = ref('groups');
const searchQuery = ref("")
const minScore = 20.0;
const {loadGroupedNavigation} = await useApplication()
const dashboardLinks = await loadGroupedNavigation('staff');
const tasks = computed(() => {
  const taskLinks = [];
  if (dashboardLinks) {
    dashboardLinks.forEach((group) => {
      group.links.forEach(l => {
        if (l.count) {
          taskLinks.push(l);
        }
      })
    })
  }
  return taskLinks;
})

const filteredCategories = ref(dashboardLinks)

const isSimilar = (query, text) => {
  let score = 0.0
  let match = false
  const queryLower = query.toLowerCase()
  const textLower = text.toLowerCase()

  if (query.length > 0) {
    if (textLower === queryLower) {
      score = 100
    }
    else if (textLower.startsWith(queryLower)) {
      score = 90
    }
    else {
      score = similarity(queryLower, textLower) * 50
      if (textLower.includes(queryLower)) {
        score += minScore
      }
    }
    match = score > minScore
  }
  return match;
}

function filterCategory() {
  searchQuery.value=""
  filteredCategories.value = dashboardLinks.filter(g => g.group === tab.value)
}
function  performSearch() {
  // Iterate through each category
  filteredCategories.value = [];
  if (searchQuery.value) {
    dashboardLinks.forEach((curCategory) => {
      const filteredLinks = curCategory.links.filter((l) =>
          isSimilar(searchQuery.value, l.title) || (l.abstract && isSimilar(searchQuery.value, l.abstract))
      )
      if (filteredLinks.length) {
        filteredCategories.value.push({group: curCategory.group, links: filteredLinks})
      }
    })
  }
  else {
    filteredCategories.value = dashboardLinks;
  }
  tab.value = 'search'
}

</script>

<template>
  <h1>Administration</h1>
   <div class="row self-stretch">
      <q-card class="col-3 col-md-2 gt-xs">

        <q-tabs v-model="tab" @update:model-value="filterCategory" vertical align="left" class="text-primary pdc-vertical-tabs" no-caps>
          <q-tab v-for="dLink in dashboardLinks" :key="`tab-${dLink.group}`" :name="dLink.group" :label="dLink.group"/>
        </q-tabs>
      </q-card>
      <q-card class="col-12 col-sm-6 auto">
          <q-card-section>
            <q-input
                outlined
                v-model="searchQuery"
                label="Search"
                debounce="100"
                @update:model-value="performSearch"
                clearable
            >
              <template v-slot:prepend>
                <q-icon name="search"/>
              </template>
            </q-input>
            <div v-for="dLink in filteredCategories" :key="`group-${dLink.group}`" class="q-mt-md">
              <div class="text-h4">{{dLink.group}}</div>
              <q-list padding>
                <q-item v-for="(link, index) in dLink.links" :key="`tab-panel-${dLink.group}-${index}`" :href="link.url" :to="link.to">
                  <q-item-section>
                    <q-item-label >
                      {{link.title}}
                    </q-item-label>
                    <q-item-label caption lines="2"><span v-html="link.abstract"/>
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </div>
          </q-card-section>
       </q-card>
       <q-card  class="col-12 col-sm-3 auto tasks">
         <q-card-section>
         <div class="text-h2">Tasks</div>
           <q-list padding v-if="tasks.length">
             <q-item v-for="(link, index) in tasks" :key="`task-${index}`" :href="link.url" :to="link.to">
               <q-item-section>
                 <q-item-label >
                   {{link.title}} ({{link.count}})
                 </q-item-label>
               </q-item-section>
             </q-item>
           </q-list>
           <p v-else>
             No tasks found at this time
           </p>
         </q-card-section>
       </q-card>
   </div>
</template>

<style >
.pdc-vertical-tabs .q-tab__content { min-width: 100%; padding: 0 1em;}
.pdc-vertical-tabs .q-tab__content.flex-center { align-items: flex-start; }
.tasks { background-color: #F5FBF1; }

</style>
