<script setup>
import UserHeader from './UserHeader.vue'
import { useApplication } from 'src/Application'
const { user, appInfo } = await useApplication()
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <UserHeader/>
    <q-page-container class="q-pa-sm q-pa-md-lg">
      <q-page>
        <router-view />
      </q-page>
    </q-page-container>
  </q-layout>
</template>