<script setup>
  import {ref} from 'vue'
  import EssentialLink from 'components/EssentialLink.vue'
  import WhitePDCLogo from 'assets/WhitePDCLogo.vue'
  import { useApplication } from 'src/Application'
  import {useRouter} from 'vue-router';
  function staffLoginUrl()  {
    if (location.hostname === 'localhost' || location.hostname.includes('.lndo.')) {
      return '/user/login?destination=/';
    }
    else {
      return '/saml/drupal_login/ead_sts_wa_gov'
    }
  }

  function filerLoginUrl () {
    if (location.hostname === 'localhost' || location.hostname.includes('.lndo.')) {
      return '/user/login?destination=/';
    }
    if (location.hostname.includes('demo') && location.hostname.includes('pantheonsite.io')) {
      return '/saml/drupal_login/test_secureaccess_wa_gov';
    } else {
      return '/saml/drupal_login/secureaccess_wa_gov';
    }
  }

  const { user } = await useApplication()

  const left_drawer_open = ref(false)

  const essential_links = ref([
    {
      title: 'My PDC',
      icon: 'home',
      link: '/'
    },
    {
      title: 'PDC web site',
      icon: 'info',
      link: 'https://pdc.wa.gov'
    },
    {
      icon: 'person',
      title: 'Filer Login',
      limitTo: () => !user || !user.uid,
      href: filerLoginUrl(),
    },
    {
      icon: 'power_settings_new',
      title: 'Logout',
      limitTo: () => user && user.uid,
      href: '/user/logout?destination=/'
    },
    {
      icon: 'person',
      title: 'Staff Login',
      limitTo: () => !user || !user.uid,
      href: staffLoginUrl()
    }
  ])

  function allowMenuItem(link) {
    if (link.limitTo === undefined) {
      return true
    }
    else {
      return link.limitTo()
    }
  }

  function toggleLeftDrawer() {
    left_drawer_open.value = ! left_drawer_open.value
  }

  const router = useRouter();
  const navigateToProfileEdit = () => {
    router.push('/edit-profile');
  };
</script>

<template>
  <q-header elevated class="print-hide">
    <q-toolbar>
      <q-btn flat dense round icon="menu" aria-label="Menu" @click="toggleLeftDrawer" />

      <q-toolbar-title>
        My PDC
      </q-toolbar-title>
        <div class="q-ml-md">{{ user.user.user_name }}</div>
      <q-btn-dropdown class="edit-profile-item" >
        <q-list>
          <q-item clickable v-close-popup @click="navigateToProfileEdit">
            <q-item-section>Edit Profile</q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
      <div class="q-ml-md"><white-p-d-c-logo/></div>
    </q-toolbar>
  </q-header>

  <q-drawer class="q-pa-md" v-model="left_drawer_open" bordered>
    <q-list>
      <q-item>
        <q-item-section>
          <q-item-label>
            Navigation
          </q-item-label>
        </q-item-section>
        <q-item-section side top>
          <q-btn icon="close" flat round dense @click="left_drawer_open = !left_drawer_open">Close</q-btn>
        </q-item-section>
      </q-item>
      <q-separator />
      <template v-for="link in essential_links" :key="link.title" >
        <essential-link v-if="allowMenuItem(link)" v-bind="link" />
      </template>
    </q-list>
  </q-drawer>
</template>
<style scoped>
.edit-profile-item, .edit-profile-item:before, .edit-profile-item:active{
 box-shadow: none !important;
}
</style>